<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Prajith</title>
		<link rel="shortcut icon" href="/favicon_manutd.ico" type="image/x-icon">
		<link href="/styles/site1.css" rel="stylesheet">
		<link href="/styles/profile.css" rel="stylesheet">
		<link href="/styles/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="header">
				<div role="navigation" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<div id="header-logo">
								<img src="/images/web_dev_logo.jpg">
								<span><a href="/" class="navbar-brand">Prajith</a></span>
							</div>
							<!-- <a href="/" class="navbar-brand">Prajith</a> -->
						</div>
						<div class="collapse navbar-collapse">
							<div class="center-div">
								<ul class="nav navbar-nav navbar-left">
										{{# each navLinks}}
										<li {{#ifeq ../section key}}class="active right"{{else}}class="right"{{/ifeq}}>
											<a href="{{ href }}">{{ label }}</a>
										</li>
									{{/each}}
								</ul>
							</div>
							<ul class="nav navbar-nav navbar-right">
								{{#if user}}
								<!-- <li><a href="/keystone/signout">Sign Out</a></li> -->
								{{else}}
								<!-- <li><a href="/keystone/signin">Sign In</a></li> -->
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>

		<div class="footer-desc">
				<div class="row">

								<!-- <div class="footer-color"> -->
									<!-- <div id="footer"> -->
										<div class="col-md-9 col-sm-8">
												<section id="boxes">
										      <div class="container ppp">
										        <div class="box">
															<!-- <a href="https://github.com/gitpraj" target="_blank">
																<img src="/images/github.png">
															</a> -->
															<a href="https://github.com/gitpraj" target="_blank">
																<i class="fa fa-github fa-5x"></i>
															</a>
										        </div>
										        <div class="box">
															<!-- <a href="https://www.linkedin.com/in/prajith-maniyan-03291273/" target="_blank">
																<img src="/images/LinkedIn-Logo.png">
															</a> -->
															<a href="https://www.linkedin.com/in/prajith-maniyan-03291273/" target="_blank">
																<i class="fa fa-linkedin fa-5x"></i>
															</a>
										        </div>
														<div class="box">
															<!-- <a href="https://www.facebook.com/praj.man90" target="_blank">
																<img src="/images/fb.png">
															</a> -->
															<a href="https://www.facebook.com/praj.man90" target="_blank">
																<i class="fa fa-facebook-official fa-5x"></i>
															</a>
										        </div>
														<div class="box">
															<!-- <a href="https://www.instagram.com/prajithm2790/?hl=en" target="_blank">
																<img src="/images/instagram.png">
															</a> -->
															<a href="https://www.youtube.com" target="_blank">
																<i class="fa fa-instagram fa-5x"></i>
															</a>
										        </div>
										      </div>
										    </section>
										</div>
										<!-- <div class="container contact">
												<div>
												Prajith Maniyan Poosappadi.</div>
												<div>Call me at 0490 335 670.</div>
										</div> -->
										<!-- <div class="container"> -->
											<!-- <nav>
												<ul id="footer-links">
													<li><a class="" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a></li>
													<li><a href="/projects">Projects</a></li>
													<li><a href="/contact">Contact</a></li>
												</ul> -->
												<div class="col-md-3 col-sm-4">
														<div class="list-group menu-footer">
														  <a class="list-group-item" href="/"><i class="fa fa-home fa-2x fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
														  <a class="list-group-item" href="/contact"><i class="fa fa-phone fa-2x fa-fw" aria-hidden="true"></i>&nbsp; Contact</a>
														  <!-- <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Projects</a>
														  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a> -->
														</div>
												</div>
										<!-- </div> -->
									<!-- </div>
								</div> -->
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
